.svg-loading-animation {
    width: 30%;
    height: auto;
<<<<<<< HEAD
    color: #2b11c0;
=======
    color: #2b11c0; 
>>>>>>> ce399ec (update full)
}

.animated-line-svg {
    width: 100%;
    height: auto;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffbe6;
}

.loading-progress-text {
    margin-top: 1rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1rem;
    color: #2b11c0;
    text-align: center;
}
